* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-wrapper {
  height: 100%;
  background-color: #0c4a60;
}
.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  overflow-y: auto;
  padding-right: 10px;
}
.messages-wrapper {
  width: 100%;
}
.myMessage {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  flex-direction: row-reverse;
}
.me {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  color: gray;
}
.myMessage .message-photo {
  width: 30px;
  height: 30px;
  margin: 4px;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: center;
  /* color: white;
  border-radius: 50%; */
}
.myMessage .message-text {
  background-color: #072b39;
  padding: 10px 10%;
  color: antiquewhite;
  width: 60%;
  word-wrap: break-word;
  overflow-x: hidden;
  border-radius: 15px;
}
.message {
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 4px;
  color: #072b39;
}
.message-photo {
  order: -1;
  width: 30px;
  height: 30px;
  display: flex;
  margin: 4px;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: center;
  /* border-radius: 50%; */
}
.message-text {
  background-color: #abdff1;

  padding: 10px 10%;
  width: 90%;
  border-radius: 15px;
  word-wrap: break-word;
  overflow-x: hidden;
}
.otherUser {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: whitesmoke;
  padding: 1px;
}

.members {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: #7eb4c8 1px solid;
  background-color: #7eb4c8;
  color: #e1dddb;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
  gap: 10px;
  height: 100%;
  width: 20%;
}
.member-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.members-color {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.input-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.chat-input {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  text-align: left;
  border-radius: 4px;
  background-color: white;
  word-wrap: break-word;
  overflow-x: hidden;
  resize: none;
  height: 40px;
  min-height: 20px;
  max-height: 200px;
  width: 30%;
}
.send-button {
  background-color: #ef6c33;
  border: none;
  font-size: 16px;
  padding: 10px 3%;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
.send-button:disabled:hover {
  background-color: #dd8763;
}
@media (max-width: 1180px) {
  .members {
    padding-left: 20px;
  }
  .message-text {
    display: flex;
    flex-wrap: wrap;
  }
  .messages-container {
    width: 50%;
  }
}
@media (max-width: 890px) {
  .members {
    padding-left: 10px;
    width: 22%;
    font-size: 16px;
  }
  .member-wrapper {
    width: 100%;
  }
  .chat-input {
    width: 40%;
    word-break: break-all;
  }
  .input-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    /* padding-top: 5px; */
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
  }
  .messages-container {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .members {
    display: none;
    width: 0%;
  }
  .chat-wrapper {
    width: 100%;
  }

  .chat-input {
    width: 50%;
    word-break: break-all;
  }
  .messages-container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .message-text {
    word-wrap: break-word;
    overflow-x: hidden;
    max-width: 80%;
  }
  .myMessage .message-text {
    word-wrap: break-word;
    overflow-x: hidden;
    max-width: 80%;
  }
  .chat-wrapper {
    width: 100%;
    align-items: center;
  }
  .input-wrapper {
    width: 90%;
    align-items: center;
  }
  .chat-input {
    width: 80%;
    word-break: break-all;
  }
  .messages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
  }
}
